<div class="question-set">
    {{#if question}}
        <Question 
            on:checkAnswer='checkAnswer(event.option)'
            question='{{question}}'
        />
    {{else}}
        <Feedback questions='{{questions}}' totalPoints='3' />
    {{/if}}
</div>

<script>
    import Question from './Question.html';
    import Feedback from './Feedback.html';
    import { randomQuestion, addTriesToQuestion, addPointToQuestion } from '../checker.js';
    import { questions } from '../data/questions.js';

    let question = randomQuestion(questions);

    export default {
        methods: {
            checkAnswer(answer) {
                let currentQuestion = this.get('question');
                addTriesToQuestion(currentQuestion);

                if (answer === currentQuestion.answer) {
                    addPointToQuestion(currentQuestion);
                    let question = randomQuestion(this.get('questions'));
                    this.set({question});
                } 
            }
        },
        data() {
            return {
                question,
                questions
            }
        },
        components: {
            Question,
            Feedback
        }
    }
</script>

<style>
    .question-set {
        margin-top: 20px;
    }
</style>