<div class="question bounceInUp">
    <p class="question__heading">{question.question}</p>
    <img class="question__image" style="animation: {animation} 1.5s" src="{question.resource.url}" alt="Image" />
    <ul class="question__option-list no-bullet clearfix">
    {#each question.options as option}
        <li class="question__option-item {correctAnswer(question, option, totalTries)}" on:click="{() => answer(option)}">
            {option}
        </li>
    {/each}
    </ul>
    
    {#if tries()}
        <p class="question__explanation">{question.explanation}</p>
        <button class="question__next" on:click="{() => nextQuestion(question)}">Next</button>
    {/if}
</div>

<script>
    import { beforeRender, createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();

    // props
    export let question;
    export let totalTries;

    // internal state
    let previousQuestion;

    let animations = [
        'zoomIn','flipInY',
        'fadeIn','bounceIn',
        'flipInX','lightSpeedIn'
    ];

    let randomAnimation = () => animations[Math.floor(Math.random() * animations.length)];

    let animation = randomAnimation();

    // methods
    const correctAnswer = (question, answer, totalTries) => {
        if (question.tries >= totalTries && question.answer == answer) {
            return 'question__option-item-answer';
        }
        return '';
    };

    const answer = (option) => {
        if (question.tries >= totalTries) return;
        dispatch("answer", { option });
    }

    const nextQuestion = (question) => {
        dispatch("next", { question });
    };

    // hook
    beforeRender(() => {
        if (question !== previousQuestion) {
            animation = randomAnimation();
        }
        previousQuestion = question;
    });

    // computed
    let tries = () => question.tries >= totalTries;
    let triesLeft = () => {
        if (question.tries === undefined) {
            question.tries = 0;
        }
        return (totalTries - question.tries)
    };
</script>

<style>
.question__heading {
    font-size: 3.5rem;
    padding: 20px;
    text-align: center;
}
.question__image {
    display: block;
    height: 300px;
    width: auto;
    margin: 40px auto;
}

.question__option-item {
    width: 43%;
    margin: 2%;
    font-size: 2.5rem;
    padding: 10px;
    display: inline-block;
    float: left;

    border: 5px solid #e1f5c4;
    border-radius: 30%/90%;
    text-align: center;
    text-transform: lowercase;
    cursor: pointer;
    transition: box-shadow 0.5s, background-color 0.5s;
}
.question__option-item:hover {
    animation: pulse 1s infinite;
    box-shadow: 0 3px 1px 1px rgba(0,0,0,0.2);
    background-color: #e1f5c4;
}
.question__next {
    background-color: #e1f5c4;
    border: 5px solid #add86d;
    border-radius: 30%/90%;
    color: #000;
    text-align: center;
    text-transform: lowercase;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px;
    width: 160px;
    margin: 40px auto;
    display: block;
}
.question__tries-left {
    text-align: center;
}
.question__option-item-answer {
    box-shadow: 0 3px 1px 1px rgba(0,0,0,0.2);
    background-color: #79cc00;
}
.question__explanation {
    font-size: 1.9rem;
    text-align: center;
}
</style>